Package: bigapache
Version: 1.0.0-1big8
Depends: synaptic, bigbashview
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:300
Description: Manage apache web server and mysql

